[submodule "vendor/libfacedetection"]
	path = vendor/libfacedetection
	url = https://github.com/ShiqiYu/libfacedetection.git
	branch = main
[submodule "vendor/hwinfo"]
	path = vendor/hwinfo
	url = https://github.com/lfreist/hwinfo
	branch = main
[submodule "omniapi"]
	path = vendor/omniapi
	url = https://github.com/cvedix/omniapi.git
	branch = main
